<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
</head>
<body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey">
          <div class="brand-logo center grey red-text text-darken-4" id="logo">John Christie</div>
          <ul class="right hide-on-med-and-down">
            <li class="grey darken-2"><a href="#top">About Me</a></li>
            <li class="grey darken-2"><a href="#projects">Projects</a></li>
            <li class="grey darken-2"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

  <div class="container">

    <div id="about">

    <div class="row">
      <div class="col s12 blue-grey"><h2 class="blue-grey">About Me</h2></div>
    </div>

    <div class="row">
      <div class="col s12">
           
        <div class="col s3">
          <img src="/images/self.jpg" alt="" class="circle responsive-img" id="self" />
        </div>
        
        
        <h4>I am a lawyer-turned web developer living in New York City. I recently finished the Web Development Immersive course at General Assembly. I have built websites using Node.JS and Ruby on Rails. Below are links to some of the websites that I’ve built&mdash;mouseover to read descriptions, click to check out the sites. All of the sites below are built with JavaScript and jQuery, I’m currently working on a project using React.JS. I’m looking forward to building more sites and beginning my career as a web developer.
        </h4>

    
      </div>
    </div>

    </div>
   

 <div id="projects">

 <br/>
 <br/>
 <div class="row">
   <div class="col s12 blue-grey"><h2 class="blue-grey">Projects</h2></div>
 </div>

	<div class="projectShot" id="antlab">
	  
	  <div id="antlabOut">
	    <img src="/images/antlab.png" title="AntLab" />
	  </div>

	  <div id="antlabIn">
	    <a href="https://antlab-project.herokuapp.com/">
	      <p>AntLab is Ruby on Rails site with three parts. The first is a CRUD app that includes an image uploader–images are stored on AWS. In addition to the CRUD portion, the site also allows users to view samples from an external API and a visual portion that encourages users to learn about ants.</p>
	    </a>
	  </div>

	</div>

	<div class="projectShot" id="amsterdam">

	  <div id="amsterdamOut">
	    <img src="/images/amsterdam.png" title="Amsterdam-Colors" />
	  </div>
	 
	  <div id="amsterdamIn">
	    <a href="https://amsterdam-colors.herokuapp.com/">
	    <p>Amsterdam Colors is Node.JS app that allows users to explore color schemes used in classic works of art housed in the Dutch National Museum.</p>
	    </a>
	  </div>
	      
	</div>

	<div class="projectShot" id="rickify">

	  <div id="rickifyOut">
	    <img src="/images/rickify.png" title="Rickify" />
	  </div>

	  <div id="rickifyIn">
	    <a href="http://prettycool.website/">
	    <p>Rickify is a photo manipulation app that built with a group at General Assembly. The site is built with Ruby on Rails; we used Git to collaborate. (One member of our group has continued to work on the site, so the current homepage may look different than the image provided here.)</p>
	    </a>
	  </div>

    </div>

	<div class="projectShot" id="graffiti">

	  <div id="graffitiOut">
	    <img src="/images/graffiti.png" title="Graffiti Game" />
	  </div>

	  <div id="graffitiIn" style="visibility: hidden">
	    <a href="https://jchristie14.github.io/">
	    <p>Graffiti Game is the first fully-functioning app that I built&mdash;it is an in-browser game in which the user moves around a building spraypainting his or her initials on the building.</p>
	    </a>
	  </div>
	
	</div>
	</div>
	<br/>

	<div class="row">
	  <div class="col s12 blue-grey"><h2 class="blue-grey">Contact</h2></div>
	</div>

	<br/>
	<br/>
	<br/>
	<br/>

	<div id="contact">
	<div class="row">

	    <form class="col s12" method="post" action="/contact">

	      <div class="row">
	        <div class="input-field col s6">
	          <input placeholder="first name" id="first_name" type="text" name="first_name">
	          <label class="active" for="first_name">First Name</label>
	        </div>

	        <div class="input-field col s6">
	          <input placeholder="last name" id="last_name" type="text" name="last_name">
	          <label class="active" for="last_name">Last Name</label>
	        </div>
	      </div>

	    <div class="row">
          <div class="input-field col s12">
            <input placeholder="email" id="email" type="text" name="email">
            <label class="active" for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="subject" id="subject" type="text" name="subject">
            <label class="active" for="subject">Subject</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="message" id="message" class="materialize-textarea" name="message"></textarea>
            <label class="active" for="message">Message</label>
          </div>
        </div>

	    <button class="btn waves-effect waves-gray" type="submit">Send</button>
	    
	  </form>
	
	
	</div>
	</div>
	<a href="https://github.com/jchristie14"><img class="logo" src="/images/github.png"/></a>
	<a href="https://www.linkedin.com/in/john-christie14"><img class="logo" src="/images/link.png"/></a>

	  
	  


	</div>
	<br/>
	<br/>
	<br/>


</body>
	<script src="/jquery-3.1.0.js"></script>
	<script src="/script.js"></script>
</html>